{%extends 'base.html' %}
{% load static %}

{% block titulo%} Galeria {% endblock titulo %}

{%block titulo_cabecera%} GALERIA {%endblock titulo_cabecera%}
{%block descripcion%}Observa nuestros mejores momentos{%endblock descripcion%}

{% block contenido%}
<div class="container">
    <div class="row">
        <div class="page-wrapper">
            <h3>Hecha un vistazo a nuestra galeria </h3>
            <p>Aca iria la galeria de fotos</p>
            <p> falta dividir en seccion Todas las fotos, Esculturas y Escultores</p>

        </div>
    </div>     
</div>
{% endblock contenido%}