{%extends 'base.html' %}
{% load static %}

{% block titulo%} HOME {% endblock titulo %}

{%block titulo_cabecera%} INICIO {%endblock titulo_cabecera%}
{%block descripcion%}Toda la información sobre la fundación{%endblock descripcion%}

{% block contenido%}
<div class="container">
    <div class="row">
        <div class="page-wrapper">
            <h3>Bienvenidos al blog de la "Fundación Amigos del Arte y Turismo"</h3>
            <p>La Fundación tiene su origen en la Inauguración del <i>Hotel Portal</i> del Impenetrable el 29 de septiembre de 2012, acontecimiento en el que se reunieron el <i>Dr. Alfredo Lázara Valdéz</i> (propietario del hotel), el <i>Dr. Oscar Alberto Nievas</i> (Intendente de Castelli) y <i>Fabriciano Gómez</i> (presidente de la <b>Fundación Urunday</b> y autor de la obra <b>“El Portal del Impenetrable”</b>). En ese acto Fabriciano propone la idea de organizar un <b>encuentro de escultores</b> en la Plaza San Martín, en junio de 2013. <br> El 1º de marzo de 2015 quedó formalmente constituida la <b>Fundación Amigos del Arte y Turismo</b>, con la siguiente conformación del consejo: 
            </p>
            <p>
                <b>Presidente:</b> Dr. Alfredo Lázara Valdéz.<br>
                <b>Vicepresidente:</b> DG René Bertolucci.<br>
                <b>Secretaria:</b> Prof. Elena Díaz de Lázara.<br>
                <b>Tesorera:</b> Arq. Yolanda M. Rausch<br>
                <b>Vocal:</b> Dr. Jorge Kleisinger.<br><br>
                Desde el año 2012, contamos con el apoyo, asesoramiento y acompañamiento de la 
                <b>Fundación Urunday</b>, principalmente en la persona de Fabriciano Gómez.

            </p>

            <h3>Recuperación de Patrimonio Histórico</h3>
            <p>
                En febrero de 2015, <i>la Municipalidad de Juan José Castelli</i> nos cedió en comodato el antiguo edificio de la primera escuela primaria de la ciudad, la <i>Escuela Nacional Nº 255</i>. A partir de ese momento comenzamos a elaborar el proyecto de recuperación del mismo.<br> 
                Luego del Encuentro de 2015, comenzaron las obras de la primera etapa, con la colaboración del Municipio con los materiales, y la Fundación aportó la mano de obra.<br>
                El 7 de julio de 2016 se inauguró la 1º etapa de la obra, tres aulas y un sanitario. El edificio ahora funciona como sede de nuestra Fundación.
            </p>
            <p>Conoce nuestra <b> <a href="{% url 'mision' %}">Mision</a></b>  </p>
        </div>
    </div>     
</div>
{% endblock contenido%}