{%extends 'base.html' %}
{% load static %}

{% block titulo%} MISION {% endblock titulo %}

{%block titulo_cabecera%} MISION {%endblock titulo_cabecera%}
{%block descripcion%}Conoce nuestras metas{%endblock descripcion%}

{% block contenido%}
<div class="container">
    <div class="row">
        <div class="page-wrapper">
            <h3>Nuestra misión</h3>
            <p>Ser partícipes del desarrollo cultural, brindar oportunidades, capacitación del Arte y hacer del mismo un atractivo turístico.</p><br>

            <h3>Nuestra visión</h3>
            <p>Sacar a la luz lo que late en el Impenetrable.</p><br> 

            <h3>Objetivos generales</h3>
            <p>
            • Velar por nuestro rico patrimonio cultural y dar a conocer a todos los que nos visiten las diferentes expresiones de nuestra identidad.<br>
            • Estimular, divulgar el arte y el turismo, fomentarlos como fuente de superación de las personas de nuestra comunidad y darlo a conocer.<br>
            </p><br>

            <h3>Objetivos específicos</h3>
            <p>
            • Organizar eventos de cualquier naturaleza con carácter regional, nacional e internacional en pro del desarrollo del arte y el turismo.<br>
            • Impulsar el turismo revitalizando las artes tradicionales y la industria artesanal de la zona a través de la comercialización de los productos locales y de otros recursos de aquellas localidades marginadas por la desindustrialización o el aislamiento.<br>
            • Proteger y restaurar nuestro patrimonio cultural y artístico.<br>
            • Organizar encuentros culturales, espectáculos y otros acontecimientos que contribuyan a divulgar nuestra idiosincrasia.<br>
            • Desarrollar programas de formación y capacitación que estén íntimamente relacionados con la misión de la fundación.<br>
            • Generar muestras públicas de contemplación de técnicas y observación de creación de obras artísticas celebrando exposiciones temáticas con artistas invitados.<br>
            • Ayudar y colaborar en proyectos públicos o privados en los que se combinen cultura y turismo (rutas literarias, rutas históricas, etc.) con mayor intensidad en lo que se refiere a la colaboración recíproca con otras Fundaciones culturales o de otros fines que coadyuven en la promoción de la cultura.<br>
            • Apoyar proyectos educativos, culturales destinados a destacar la importancia de la cultura.<br>
            • Desarrollar e impulsar el turismo interior en el Impenetrable en sintonía con la tendencia en alza del turismo alternativo (cultura y naturaleza).<br>
            • Promover actividades de formación en el conocimiento de la cultura.<br>
            • Potenciar Castelli y su región como destino turístico.<br>
            </p>
        </div>
    </div>
</div>

{% endblock contenido%}